<!-- home.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/headinfo') %>
  </head>

  <body>

    <%- include('partials/navbar') %>

    <section>

      <h5>Login</h5>

      <div class="login">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" type="text" name="username" class="validate">
                <label for="username">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_open</i>
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" formaction="/" formmethod="post">Sign In
              <i class="material-icons right">send</i>
            </button>
          </form>

            <h5>Sign up for new account</h5>
            <a href="/signup">Sign Up</a>
            <!-- <button class="btn waves-effect waves-light" type="submit" formaction="/signup" method="get">Create New
              <i class="material-icons right">add_circle_outline</i>
            </button> -->


        </div>
      </div>

    </section>

    <li><a href="workbench"><h5>Continue without logging in</h5></a></li>


    <!-- footer tags -->
    <%- include('partials/footer') %>
  </body>

</html>
