<!-- projects.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/headinfo') %>
  </head>

  <body>

    <%- include('partials/navbar') %>

    <section id="projectlist">

      <h5>Project List</h5>

      <div class="collection">
        <% projects.forEach(function(project) { %>
          <li>
            <a href="/workbench" class="collection-item"><%= project.project_name %></a>
          </li>
        <% }) %>
     </div>


    </section>


    <!-- footer tags -->
    <%- include('partials/footer') %>
  </body>

</html>
