<!-- projects.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/headinfo') %>
  </head>

  <body>

    <%- include('partials/navbar') %>

    <section id="projectlist">

      <h5>Project List</h5>

      <ul>
        <li>
        </li>
        <li>
        </li>
      </ul>


    </section>


    <!-- footer tags -->
    <%- include('partials/footer') %>
  </body>

</html>
