<!-- workbench.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/headinfo') %>
  </head>

  <body>

    <%- include('partials/navbar') %>

    <!-- <section id="toolbar">
      <h5>Pick a color</h5>

      <div class="colorpicker">
        <canvas id="picker" var="3" width="300" height="300"></canvas>

        <div class="controls">
            <div>
              <label>R</label>
              <input type="text" id="rVal" />
            </div>
            <div>
              <label>G</label>
              <input type="text" id="gVal" />
            </div>
            <div>
              <label>B</label>
              <input type="text" id="bVal" />
            </div>
            <div>
              <label>RGB</label>
              <input type="text" id="rgbVal" />
            </div>
            <div>
              <label>HEX</label>
              <input type="text" id="hexVal" />
            </div>
        </div>
      </div>
    </section> -->

    <section id='tools'>
      <div class='row'>
        <div class='col s4'>
          <h3>Assign element</h3>
          <div>
            <p>CURRENT SELECTION</p>
            <p>type:</p>
            <p id='selectedType'></p>
            <p>id:</p>
            <p id='selectedId'></p>
            <p>class:</p>
            <p id='selectedClass'></p>
            <p>content:</p>
            <p id='selectedContent'></p>
          </div>
          <div>
            <p>PARENT SELECTOR</p>
            <select id='elementSelector'>
            </select>
          </div>
          <div>
            <p>ATTRIBUTE SELECTOR</p>
            <select id='attributeSelector'>
              <option value='backgroundColor'>Background</option>
              <option value='color'>Text</option>
              <option value='borderColor'>Border</option>
            </select>
          </div>
          <div>
            <p>GROUP ASSIGNMENT</p>
            <select id='groupSelector'>
            </select>
          </div>
          <br>
          <div>
            <button id='assign' type="button">Assign</button>
          </div>
          <h3>Set color</h3>
          <div>
            <p>PICK COLOR</p>
            <input id='selectedColor' type="color">
          </div>
          <div>
            <p>PICK GROUP</p>
            <select id='pickGroup'>
              <option value='primary'>Primary</option>
              <option value='seondary'>Secondary</option>
              <option value='highlight'>Highlight</option>
              <option value='primaryContrast'>Primary Contrast</option>
              <option value='secondaryContrast'>Secondary Contrast</option>
            </select>
          </div>
          <br>
          <div>
            <button id='apply' type="button">Apply</button>
          </div>
        </div>
      </div>
    </section>

    <section id='project'>
      <iframe src='/workbench/index.html' width=1000 height=600>
        Sorry, your browser does not support iframes. Try using chrome.
      </iframe>
    </section>

    <button id='saveButton'>save</button>



    <!-- footer tags -->
    <%- include('partials/footer') %>
    <script type="text/javascript" src='/color.js'></script>
    <script type="text/javascript" src='/workbench.js'></script>
    <!-- <script src="https://cdn.socket.io/socket.io-1.4.4.js"></script>
    <script>
      var socket = io();
    </script> -->
  </body>

</html>
