/*
=======================
homepage
=======================
*/

.nav-wrapper {
  background-color: #273859;
}

h2 {
  /* font-family: Madjumbles; */
  font-family: EatnCake;
  /* font-family: Trashtalk; */
  text-align: center;
  font-size: 175px;
  margin-top: 110px;
}

#signback {
  background-image: url("splat.jpg");
  background-position: top;
  background-size: cover;
}

#loginbox {
  padding: 1%;
}

.login {
  border: 2px solid #273859;
  width: 650px;
  margin: auto;
  text-align: center;
  background-color: #273859;
  /* opacity: 0.95; */
}

div.row.log {
  margin: 6% 4%;
}

input#username.validate.valid {
  color: #fff;
}

/* .waves-effect {
  background-color: #b73882;
} */

form {
  margin-bottom: 50px;
}

div.row.log>h5 {
  color: #fff;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}


/*
=======================
signup page
=======================
*/

#signUp {
  background-image: url("splat.jpg");
  background-position: top;
  background-size: cover;
}

#signupbox {
  padding: 1%;
}

.login {
  border: 2px solid #273859;
  width: 650px;
  margin: auto;
  text-align: center;
  background-color: #273859;
  /* opacity: 0.95; */
}

div.row.log {
  margin: 6% 4%;
}

input#username.validate.valid {
  color: #fff;
}


/*
=======================
projects page
=======================
*/

#projectpage {
  background-image: url("splat.jpg");
  background-position: top;
  background-size: cover;
}

#projectlist {
  padding: 3%;
}

#projectlist h5 {
  border: 2px solid #273859;
  width: 800px;
  margin: auto;
  text-align: center;
  background-color: #273859;
  /* opacity: 0.95; */
  font-size: 30px;
  color: #fff;
  height: 50px;
  padding-top: 8px;
}

.collection {
  border: none;
  margin: 20px 0px 20px 0px;
}

.collection a.collection-item {
  border: 2px solid #273859;
  width: 800px;
  margin: auto;
  text-align: center;
  background-color: #273859;
  /* opacity: 0.95; */
  font-size: 22px;
}

#newProject {
  text-align: center;
}

button.btn.modal-trigger {
  background-color: #b73882;
}

/*
=======================
workbench page
=======================
*/

.row.work {
  margin-top: 45px;
}

#project {
  height: 846px;
}

.row .col.s3.toolbar {
  margin: 0px 20px 0px 60px;
  border: 2px solid black;
  padding: 1%;
}

iframe {
  height: 100%;
  width: 100%;
  border: 2px solid black;
}

.assignEl {
  margin-top: 0px;
}

.SetColor {
  margin-top: 40px;
}

.row .col.s2, .row .col.s8 {
  height: 25px;
}

.row.sel {
  margin-bottom: 10px;
}

.selAtr {
  margin-bottom: 30px;
}

#tools h5 {
  font-size: 18px;
  font-weight: bold;
  /* margin: 0px; */
}

/* .btn {
  background-color: #273859;
} */

.select-wrapper {
  height: 40px;
}

.select-wrapper input.select-dropdown {
  height: 30px;
  /* margin-bottom: 0px; */
}
