/*
=======================
homepage
=======================
*/

.nav-wrapper {
  background-color: #273859;
}

#signback {
  background-image: url("splat.jpg");
  background-position: top;
  background-size: cover;
}

#loginbox {
  padding: 12%;
}

.login {
  border: 2px solid #273859;
  width: 650px;
  margin: auto;
  text-align: center;
  background-color: #273859;
  /* opacity: 0.95; */
}

div.row.log {
  margin: 6% 4%;
}

input#username.validate.valid {
  color: #fff;
}

/* .waves-effect {
  background-color: #b73882;
} */

form {
  margin-bottom: 50px;
}

div.row.log>h5 {
  color: #fff;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}


/*
=======================
signup page
=======================
*/

#signUp {
  background-image: url("splat.jpg");
  background-position: top;
  background-size: cover;
}

#signupbox {
  padding: 12%;
}

.login {
  border: 2px solid #273859;
  width: 650px;
  margin: auto;
  text-align: center;
  background-color: #273859;
  /* opacity: 0.95; */
}

div.row.log {
  margin: 6% 4%;
}

input#username.validate.valid {
  color: #fff;
}


/*
=======================
workbench page
=======================
*/

.row.work {
  margin-top: 50px;
}

#project {
  height: 800px;
}

.row .col.s3.toolbar {
  margin: 0px 20px 0px 60px;
}

iframe {
  height: 100%;
  width: 100%;
}

.assignEl {
  margin-top: 0px;
}

.SetColor {
  margin-top: 40px;
}

.row .col.s2, .row .col.s8 {
  height: 25px;
}

.row.sel {
  margin-bottom: 10px;
}

.selAtr {
  margin-bottom: 40px;
}

#tools h5 {
  font-size: 18px;
  font-weight: bold;
  /* margin: 0px; */
}

/* .btn {
  background-color: #273859;
} */

.select-wrapper {
  height: 40px;
}
